//todo make better center
.body-wrap .search-wrap {
	text-align: center;
	> form {
		> div {
			width: 100%;
			padding: 15px 15px 10px;
			background-color: #dfdfdf;
			border-radius: 15px;
			
			> span {
				width: 100%;				

				input {
					width: 100%
				}
			}
			display: inline-block;
			max-width: 500px;			
			margin-top: 150px;
		}
	}
}

.navbar-collapse .search-wrap {
	> form {
		> div {
			> span {
				width: 100%;
				padding-top: 10px;
			}
		}
	}
}