div.top-header {
	width: 100%;
	min-height: 80px;
	background-color: #2d2d2d;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;

	.row {
		margin: 0;
	}
}

.body-wrap {
	padding-top: 80px;
}

.navbar-default {
	background: none!important;
	border: none!important;
}